{% extends 'base.html' %}
{% block page_content %}
    <!-- DataTables CDN -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    
    <title>View Tickets</title>

    <div class="container mt-3 table-responsive">
    <h2>Tickets Overview</h2>
    <table id="bugTable" class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Category</th>
                <th>Description</th>
                <th>Creation</th>
                <th>Updated</th>
                <th>Closed</th>
                <th>Reported By</th>
                <!-- <th>Assigned To</th>
                <th>Status</th> --> 
            </tr>
        </thead>
        <tbody>
            {% for record in bugs %}{% for record1 in user %}
                <tr>
                    <td>{{record.id}}</td>
                    <td>{{record.title}}</td>
                    <td>{{record.category}}</td>
                    <td>{{record.description}}</td>
                    <td>{{record.created_at}}</td>
                    <td>{{record.updated_at}}</td>
                    <td>{{record.closed_at}}</td>
                    <td>{{record1.userName}}</td>
                </tr>
            {% endfor %}{% endfor %}
        </tbody>
        <tfoot>
        </tfoot>
    </table>
  </div>
    <script>
      $(document).ready(function() {
       $('#bugTable').DataTable();
      } );
    </script>
{% endblock %}