<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Jquery, popper.js, bootstrap-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title></title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'home' %}">Home</a>
      
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link bg-dark text-white font-weight-bold" href="{% url 'viewticket' %}">View Ticket</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bg-dark text-white font-weight-bold" href="#">Add Ticket</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bg-dark text-white font-weight-bold" href="#">Dashboard</a>
                </li>
            </ul>
        
            <form class="form-inline my-2 my-lg-0">
              <button class="btn btn-outline-danger my-2 my-sm-0 font-weight-bold" type="submit">Logout</button>
            </form>
        </div>
    </nav>

    
    {% block page_content %}{% endblock %}


    <!-- Footer -->
    <div class="fixed-bottom bg-dark text-white">
        <footer class="page-footer font-small special-color-dark pt-4">
        <div class="container">
            <!-- Social buttons -->
            <ul class="list-unstyled list-inline text-center text-decoration-none">
                <li class="list-inline-item">
                    <a href="https://www.facebook.com/" class="fa fa-facebook mx-1 fa-lg"></a> 
                </li>
                <li class="list-inline-item">
                    <a href="https://twitter.com/?lang=en" class="fa fa-twitter mx-1 fa-lg"></a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.linkedin.com/" class="fa fa-linkedin-square mx-1 fa-lg"></a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.google.com/" class="fa fa-google mx-1 fa-lg"></a>
                </li>
            </ul>
        </div>
        <div class="footer-copyright text-center py-3 font-weight-bold">© 2020 Copyright:
            <span>HD-Only</span>
        </div>
        </footer>
    </div>
  </body>
</html>