{% load static %}

<html>
    <head>
        <meta charset="UTF-8">
        <title>Password Reset</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="jquery-3.4.1.js"></script>
    </head>
    <body>
        <div id="header"></div>
        <section class="newpassword">
            <div id="container">
                <!--Contents-->
                <h2>Reset Password</h2>
                <p class="content_summary">Your password must be at least 6 characters with uppercase, lowercase letters and numbers(0-9)
                </p>
                <form action="" method="post">
                    <div class="box">
                        <div class="int-area">
                            <label for="newpass">New Password</label>
                            <input type="password" name="new_password" id="new_password"
                            autocomplete="off" required> 
                            <p>&nbsp;</p>                                                       
                            <label for="newpass2">Confirm New Password</label>
                            <input type="password" name="new_password2" id="new_password2"
                            autocomplete="off" required>                            
                        </div>
                    </div>
                    <div class="btn-area">
                        <button type="submit" >SUBMIT</button>
                    </div>
                </form>
            </div>
       </section>
    </body>
</html>