{% load static %}

<html>
    <head>
        <meta charset="UTF-8">
        <title>Password Reset</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="jquery-3.4.1.js"></script>
    </head>
    <body>
        <div id="header"></div>
        <section class="password-reset">
            <div id="container">
                <!--Contents-->
                <h2>Forgot your password?</h2>
                <p class="content_summary">Don't worry! Just fill in your email and we'll send 
                    you a link to reset your password.
                </p>
                <form action="" method="post">
                    <div class="box">
                        <div class="int-area">
                            <label for="email">Email</label>
                            <input type="text" name="email" id="email"
                            autocomplete="off" required>                            
                        </div>
                    </div>
                    <div class="btn-area">
                        <button type="submit" >SUBMIT</button>
                    </div>
                </form>
            </div>
       </section>
    </body>
</html>