{% load static %}

<html>
    <head>
        <meta charset="UTF-8">
        <title>Password Reset</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="jquery-3.4.1.js"></script>
    </head>
    <body>
        <div id="header"></div>
        <section class="auth_password">
            <div id="container">
                <!--Contents-->
                <h2>Please enter the authentication code</h2>
                <p class="content_summary">
                    
                </p>
                <form action="" method="post">
                    <div class="box">
                        <div class="auth_table">
                            <table>
                                <label for="code1">Code</label>
                                <tr>
                                    <th><input type="text" name="code" id="code1"
                                        onfocus="this.value=''" value="*" autocomplete="off" maxlength="1" required>
                                    </th>
                                    <th><input type="text" name="code" id="code2" value="*"
                                        onfocus="this.value=''" autocomplete="off" maxlength="1" required>
                                    </th>
                                    <th><input type="text" name="code" id="code3" value="*"
                                        onfocus="this.value=''" autocomplete="off" maxlength="1" required>
                                    </th>
                                    <th><input type="text" name="code" id="code4" value="*"
                                        onfocus="this.value=''" autocomplete="off" maxlength="1" required>
                                    </th>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="btn-area">
                        <button type="submit" >SUBMIT</button>
                    </div>
                </form>
            </div>
       </section>
    </body>
</html>